/*
* Adapted from Skeleton V2.0.4 (www.getskeleton.com)
* Copyright 2016, Emmanuel Roussel
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 11/05/2016
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d9d9d9;

}

/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img{
  padding-bottom: 10px;
  background-color: grey;
  box-shadow: 1px 8px 10px #aaa;
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 40%;
}
h1 {
  text-align: center;
}
p{
  text-align: center;
  font-size: 18pt;
}
.NavBar {
}
.NavBar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.NavBar-li{
  float:left;

}
.NavBar-li .NavBar-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar-li .NavBar-a:hover{
  background-color: #111;
}
.Dogs{
  border-style: solid;
	box-shadow: 2px 2px 2px #000;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 16pt;
  background-color: #bfbfbf;


}
.Links {
  text-align: center;
  font-size: 14pt;

}




/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
